<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Main</title>
        <style>
            html,head,body { padding:0; margin:0; }

            body { font-family: calibri, helvetica, arial, sans-serif; }
        </style>
    </head>

    <body>
        <div id="nb-integration-requesting-user" style="display: none;">
          <div id="current-user-id">2</div>
          <!--<div id="email">big.cat@gmail.com</div> -->

          <div id="first_name">Big</div>
          <div id="last_name">Cat</div>

          <!-- "home" phone number in NationBuilder -->
          <div id="phone_number">2031112222</div>
          <div id="mobile_number">5083334444</div>
          <div id="work_phone_number">6175556666</div>
        </div>

        <div id="interface"></div>
        <script>
            function getUserValue(container, id) {
                var el = container.querySelector('#' + id);
                if (el && el.textContent != "") {
                    return el.textContent;
                } else {
                    return null;
                }
            }

            function getUserID(container) {
                var id = getUserValue(container, "current-user-id");
                if (id) {
                    var numericID = parseInt(id);
                    if (!isNaN(numericID)) {
                        return numericID;
                    }
                }
                return null;
            }

            function getPhone(container) {
                var phone = getUserValue(container, "phone_number");
                var mobile = getUserValue(container, "mobile_number");
                var work_phone_number = getUserValue(container, "work_phone_number");

                if (phone) { return phone; }
                if (mobile) { return mobile; }
                if (work_phone_number) { return work_phone_number; }

                return null;
            }

            function renderInterface() {
                var node = document.getElementById("interface");

                var requestingUserElement = document.getElementById("nb-integration-requesting-user");

                var initialValues = {
                    nbPersonID: getUserID(requestingUserElement),
                    nbFirstName: getUserValue(requestingUserElement, "first_name"),
                    nbLastName: getUserValue(requestingUserElement, "last_name"),
                    nbEmail: getUserValue(requestingUserElement, "email"),
                    nbPhone: getPhone(requestingUserElement)
                };
                NBIntegration.contactMeInterface(node, initialValues);
            }
        </script>

        <script defer src="<%= app_base_url %>/embed?slug=skarger&callback=renderInterface"></script>
    </body>
</html>
