<style>
    .flex-container {
        display: flex;
        justify-content: space-between;
        max-width: 400px;
    }

    .bold {
        font-weight: bold;
    }

    .red {
        color: #ba2a2a;
    }

    .green {
        color: #258e28;
    }

    .blue {
        color: #2e80cc;
    }

    .container {
        max-width: 700px;
    }
</style>

<div class="container">
    <h1>Welcome</h1>

    <p>
        This is the home page of <a href="https://www.climatecrew.org">CREW's</a> NationBuilder integration app.
    </p>

    <p>
        If you are an admin of a <a href="https://nationbuilder.com">NationBuilder</a> nation and you want to install this app, enter the nation slug below and click Install. You will be re-directed to login to that nation if necessary.
    </p>

    <p>
        Please be aware that by installing this app, you are granting it access to read and write the data owned by the nation associated with the entered slug. It will use that access in order to provide features that integrate with your nation.
    </p>
    <p>
        If you ever want to uninstall you can go to Settings -> Apps in your nation's control panel.
    </p>

    <form action="/install" method="post">
        <div class="flex-container">
            <div>
                <label for="slug" class="bold">Nation slug:</label>
                <input type="text" id="slug" name="slug">
            </div>

            <div>
                <span>.nationbuilder.com</span>
            </div>

            <button type="submit">Install</button>

        </div>
    </form>

    <div class="error">
        <% if flash["error"] %>
            <span class="bold red">Error:</span> <span><%= flash["error"] %></span>
        <% end %>
        <% if flash["notice"] %>
            <span class="bold blue"><%= flash["notice"] %></span>
        <% end %>
    </div>
</div>
